# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

/fixinspector.iml
/go.imports.xml
/inspectionProfiles/profiles_settings.xml
/modules.xml
/vcs.xml
/misc.xml
